@font-face
  font-family: "Roboto"
  src : url("/RobotoCondensed-Regular.ttf")
html
  footer
    text-align: center
  body
    font-family: Roboto
    .uk-grid-margin
      margin: auto
      width: 1300px
      display: flex
