@import "client/style/params"
.post-small
  overflow: hidden
  margin: 12px
  //font-size: .7em
  width: 346px
  height: 400px
  @media screen and (max-width: $min-width)
    width: 100%

  img
    width: 100%
